body{
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  /*background-color: #ea3913;*/
}
#showcase{
  min-height: 400px;
  background:url('../ip2/assets/backgrounds/landing.jpg') no-repeat;
  text-align: center;
  color: #ffffff;
}
.highlight{
  color: #ffffff;
  font-weight: bold;
}
ul.dish li {
  position: relative;
  padding: 0;
  display: inline-grid;
  float: right;
}
.one1{
  margin: 0px;
  text-align: center;
  width: 350px;
  height: 105px;
  background-color: #b7b1af;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration-color: #ffffff;

}
.two{
  margin-bottom: 0;
  text-align: center;
  width: 380px;
  height: 105px;
  background-color: #f7511a;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;

}


.dinner{
  margin: 0;
  width: 340px;
  height: 210px;
  background: url('../ip2/assets/foodtop/dinner.jpg') no-repeat;
  color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
}
.lunch{
  width: 350px;
  height: 210px;
  color: #ffffff;
  background: url('../ip2/assets/foodtop/lunch.jpg') no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  text-align: center;

}
.breakfast{
  width: 350px;
  height: 210px;
  background: url('../ip2/assets/foodtop/breakfast.jpg') no-repeat;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: large;
}
.fastfood {
  min-height: 100px;
}
#mainContainer{
  min-height: 400px;
  background:url('../ip2/assets/backgrounds/foodsBg.jpg') no-repeat;
  text-align: center;
  color: #ffffff;
}
/*.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 30%;
    margin: 0px;
}*/
/*#panel1{
  height: 50px;
  /*width: 300px;*/
  /*position:fixed;*/
  left:0px;
  top:0px;
  bottom:0px;
  width:200px;
}*/
/*.pane{
  height: 500px;
  width: 1200px;

}*/
.container .panel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
#happy{
  min-height: 400px;
}




#newsletter{
  min-height: 100px;
  padding: 15px;
  color: #ffffff;
  background:url('../ip2/assets/backgrounds/subscribe.jpg') no-repeat;


  text-align: center;

}


#newsletter form{
  float: center;
  margin: 15px;
}
#newsletter input[type = "email"]{
  padding: 4px;
  height: 25px;
  width: 250px;
}
footer {
  padding: 20px;
  margin-top: 0px;
  color: #ffffff;
  background-color: #e8491d;
  text-align: center;
}
.logo{
  display: inline-block;
}
